@model JooleApp.UI.DataModels.JsonCompareModel



@Html.BeginForm("compare", "Search"){

    @Html.Hidden("id1", ""))
    @Html.Hidden("id2", ""))
    <button class="btn btn-sm btn-primary" type="submit" id="btnCompare" disabled>Compare</button>
}
