@model JooleApp.UI.DataModels.ProductDetail


@foreach (KeyValuePair<int, List<Dictionary<String, String>>> prod in Model.prodDet)
{
    <div class="cardProducts">
        <div>
            Image Path : @prod.Value[0]["ImagePath"]
        </div>
        @foreach (KeyValuePair<String, String> perProd in prod.Value[1])
        {
            <div class="perProd">
                @perProd.Key : @perProd.Value
            </div>
        }
    </div>
}


