
JooleApp.Domain/obj/Debug/JooleApp.Domain.csprojAssemblyReference.cache
.vs/JooleApp/v16/.suo
.vs/JooleApp/v16/.suo
*.cache
*.cache
JooleApp.UI/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
JooleApp.UI/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
JooleApp.UI/obj/Release/JooleApp.UI.csprojAssemblyReference.cache
