.productSummaryLayoutBodyMain {
    background: rgb(36,116,169);
    background: linear-gradient(180deg, rgba(36,116,169,1) 44%, rgba(243,247,250,1) 100%);
    background-repeat: no-repeat;
    font-size: 11pt;
    font-family: Helvetica, sans-serif;
    height: 10vh;
}

.productSummaryLayoutBody {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.productSummaryLayoutHeader {
    display: flex;
    flex-direction: row;
    order: 1;
    height: 9vh;
    margin-bottom: 1vh;
}

.brandImage {
    align-self: flex-start;
    height: inherit;
}


.productSummaryLayoutContent {
    order: 2;
    height: 85vh;
}



footer {
    order: 3;
    height: 5vh
}
