body {
}


.mainBox {
    display: flex;
    flex-direction: row;
    width: 100vw;
    overflow: hidden;
}

.leftPanel {
    left: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: azure;
    
    border: solid 2px black;
    height: 85vh;
    width: 20vw;
}

.productsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4 0 auto;
    height: 85vh;
    width : 80vw;
    overflow : scroll;
    overflow-x : hidden;
}

#avatar {
    position: fixed;
    top: 10px;
    right: 10%;
    height: 50px;
    width:50px;
    background-size: contain;
    background-position: center;
    border-radius: 50%;
    margin-bottom: 1vh;
}