body {
}

.details{
    display : flex;
    flex-direction : column;
}

.uselessDisp{
    display : flex;
    flex-direction : row;
    width : inherit;
}



.attType {
    display: flex;
    font-size: 20px;
    justify-content: center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 8px 0 8px 0;
    flex: 1 1 auto;
    width: inherit;
}


.attTypeSearch{
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    align-content : center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 8px 0 8px 0;
    flex: 1 1 auto;
    width: inherit;
}

.btnSave {
    background-color: #5bc0de;
    border-radius: 0;
    color: white;
    float: right;
    flex : 1 1 auto;
    margin : 5px;
}

.searchText {
    text-align: center;
    vertical-align: middle;
    margin-top: 9px;
}





    .slider {
        display: flex;
        flex-direction: row;
        align-content: center;
        margin-left: 5px;
        margin-right: 5px;
    }
        
        .leftRight{
            display : flex;
        }

        .sliderInside {
            display: flex;
            width: 200px;
            -webkit-appearance: none;
            margin: auto;
            width: 50%;
            height: 2px;
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: 0.2s;
            transition: opacity 0.2s;
        }

    .attName{
        display : flex;
        flex-direction : row;
        margin-top : 5px;
    }