body {
}


.cardProducts {
    background-color: azure;
    background: #fff;
    /*box-shadow: 0 10px 10px rgba(0,0,0,0.35);*/
    box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
    margin: 10px;
    /*border: solid 2px black;*/
    padding: 2px;
    display: flex;
    flex-direction: column;
    width : 20vw;
    height: 70vh;
    align-items : center;
}
    
    .image{
/*        height : 40vh;*/
        height: 25vh;
        display : flex;
        flex-direction : row;
        align-content : center;
        justify-content : center;
    }

    img{
        max-width : 80%;
        max-height : 80%;
    }


    .perProd{
        display : flex;
        width : inherit;
        justify-content : center;
    }

    .botCard{
        display : flex;
        flex-direction : row;
        bottom : 0;
        padding : 5px;
        margin : 5px;
        width : inherit;
        justify-content : space-between;
        justify-self : flex-end;
    }

        .checker {
            display: flex;
            flex-direction: row;
            margin-left: 10px;
        }
        
            .itemCheck{
                display : flex;
                align-self : flex-start;
            }

            .itemLabel{
                margin-left : 5px;
            }


            .viewButton{
                margin-right : 10px;
            }

.prodDesription{
    font-weight: bold;
}