@model JooleApp.UI.Models.SearchCascadingClass

@{
    ViewBag.Title = "Search";

}

@Styles.Render("~/Search/css")

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        Dropdown Example
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>

@if (ViewBag.CategoryList != null)
{
    @Html.DropDownListFor(m => m.CategoryId, ViewBag.CategoryList as SelectList, "Category", new { @class = "form-control", id = "CategoryId" })

    @Html.DropDownListFor(m => m.SubCategoryID, new SelectList(""), "Search...", new { @class = "form-control", id = "SubCategoryID" })
}



<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("#CategoryId").change(function () {
            var catId = $(this).val();
            debugger
            $.ajax({
                type: "POST",
                url: "/Search/GetSubCategoryList?categoryId=" + catId,
                contentType: "html",
                success: function (response) {
                    debugger
                    $("#SubCategoryID").empty();
                    $("#SubCategoryID").append(response);
                },
                error: function (err) {
                    console.log(err);
                }
            });
        })
    })
</script> 